.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.form a {
    color: rgb(35, 33, 33);
    margin-bottom: 10px;
}

.form-input__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form input {
    padding: 5px 5px;
    border-radius: 5px;
    width: 50%;
    border: none;
}



.form .invalid {
    background-color: rgb(255, 102, 102);
}

.text-error {
    color: rgb(255, 102, 102);
    font-weight: 600;
}

.text-error.centered {
    text-align: center;
}



.input-dropdown-cities {
    margin-bottom: 5px;
}

.input-dropdown-cities:focus~ul {
    display: block;
}

.input-dropdown-cities~ul {
    list-style: none;
    margin: 0;
    padding: 5px 5px;
    width: 200px;
    border: 1px solid rgb(56, 99, 56);
    background-color: rgb(61, 45, 114);
    height: 100px;
    overflow: auto;
    display: none;
    border-radius: 10px;
}

.input-dropdown-cities~ul li {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding: 5px 5px;
    font-size: 14px;
    cursor: pointer;
}

.input-dropdown-cities~ul li:hover {
    background:rgb(45, 114, 99)
}